Babel==2.1.1
Dex==0.6
Django==1.9
Flask==0.10.1
Flask-SQLAlchemy==2.1
Flask-Script==2.0.5
GitPython==1.0.1
Jinja2==2.8
MarkupSafe==0.23
MySQL-python==1.2.5
PIL==1.1.7
Pillow==2.6.1
PyYAML==3.11
Pygments==2.0.1
SOAPpy==0.12.22
SQLAlchemy==1.0.10
Werkzeug==0.11.2
amqp==1.4.8
anyjson==0.3.3
argparse==1.2.1
backports-abc==0.4
backports.ssl-match-hostname==3.4.0.2
beanstalkc==0.4.0
billiard==3.3.0.22
blessings==1.6
bpython==0.14.2
celery==3.1.19
certifi==2015.11.20.1
cffi==0.8.6
chardet==2.3.0
colorama==0.3.2
cryptography==0.6.1
curtsies==0.1.19
dargparse==0.2.5
datakit==0.0.9
dbgp==1.1
defusedxml==0.4.1
docopt==0.6.2
docutils==0.12
flake8==2.5.0
flower==0.8.3
futures==3.0.3
gevent==1.0.2
gitdb==0.6.4
greenlet==0.4.9
gunicorn==19.4.1
html5lib==0.999
image==1.4.3
isort==4.2.2
itsdangerous==0.24
kombu==3.0.32
lxml==3.5.0
mccabe==0.3.1
mysql-connector-python==1.2.3
ndg-httpsclient==0.3.2
ordereddict==1.1
pep8==1.6.2
ply==3.4
psutil==3.3.0
py==1.4.31
pyOpenSSL==0.14
pyasn1==0.1.7
pycparser==2.10
pycrypto==2.6.1
pyes==0.99.6
pyflakes==1.0.0
pymongo==2.6.3
pytest==2.8.5
python-apt==0.9.3.12
python-debian==0.1.27
python-debianbts==1.11
python-memcached==1.57
pytz==2015.7
qiniu==7.0.5
redis==2.10.5
reportbug==6.6.3
requests==2.4.3
roman==2.0.0
shadowsocks==2.8.2
singledispatch==3.4.0.3
six==1.8.0
smmap==0.9.0
thrift==0.9.3
tornado==4.3
turbo==0.3.8
urllib3==1.9.1
vim-debug==1.5.4
webcrawl==0.0.6
wheel==0.24.0
wsgiref==0.1.2
wstools==0.4.3
